* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

nav {
    font-size: 1.5rem;
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: #47A2DF;
    text-decoration: none;
}

header {
    margin: 50px 90px 0 90px;
    display: flex;
    justify-content: space-between;
}

#hero {
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
}
#title {
    width: 50%;
    font-size: 6rem;
    padding-bottom: 20px;
}
#hero span{
    font-size: 1.5rem;
}
#author {
    font-size: 1.5rem;
    text-decoration: none;
    color: #47A2DF;
}

#algorithms{
    margin: 50px 90px 0 90px;
    font-size: 3rem;
}

#selection {
    display: flex;
    justify-content: space-around;
}

.selection-choice {
    cursor: pointer;
    width: 400px;
    height: 100px;
    margin-top: 20px;
    background-color: #47A2DF;
    font-size: 3rem;

    display: flex;
    justify-content: space-around;
}

.selection-choice-text {
    margin: auto;
    color: white;
    /* height: 100%;
    padding-left: 15px;
    padding-bottom: 3px;
    display: flex;
    align-items: flex-end; */
}